server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:13306/starlucks?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root
  flyway:
    user: root
    password: root
    url: jdbc:mysql://localhost:13306/starlucks?allowPublicKeyRetrieval=true&useSSL=false
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  redis:
    session:
      host: localhost
      port: 16379

